requests~=2.24.0
django~=3.0.5
pytest~=5.4.3
pytest-django
djangorestframework~=3.12.1
djangorestframework-simplejwt==4.3.0
django-filter~=2.4.0
py~=1.9.0
colorama~=0.4.3
PyJWT~=1.7.1
cryptography
DateTime~=4.3
lxml
attrs~=19.3.0
pytz~=2020.1
sqlparse~=0.3.1
psycopg2
numpy~=1.19.2
wcwidth~=0.2.5
pluggy~=0.13.1
atomicwrites~=1.4.0
certifi~=2020.6.20
chardet~=3.0.4
urllib3~=1.25.10
idna~=2.10
simplejson~=3.17.2
pyparsing~=2.4.7
six~=1.15.0
setuptools~=41.2.0
Pygments~=2.6.1
gunicorn==20.0.4
django-environ
psycopg2-binary
postgres~=3.0.0
asgiref==3.2.10
pip~=21.1
tornado~=6.0.4
bs4~=0.0.1
beautifulsoup4~=4.9.3
cssselect~=1.1.0
cffi~=1.14.0
Jinja2~=2.11.3
packaging~=20.4
environ~=1.0
pycparser~=2.20
docker